<style>
  #shopify-section-{{ section.id }} .product {
    padding-block: 0; /* Already applied on the section level */
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      --product-grid: auto / minmax(0, {{ section.settings.product_media_size | divided_by: 100.0 }}fr) minmax(0, {{ 100.0 | minus: section.settings.product_media_size | divided_by: 100.0 }}fr);
    }
  }
</style>

<div class="color-scheme color-scheme--{{ section.settings.color_scheme.id }}">
  {%- capture product_form_id -%}product-form-featured-product-{{ section.settings.product.id }}-{{ section.id }}{%- endcapture -%}

  <div class="container">
    <div class="section-spacing section-stack">
      {%- if section.settings.subheading != blank or section.settings.title != blank or section.settings.product != blank and section.settings.show_product_link -%}
        <div class="section-header">
          <div class="prose prose-justify-{{ section.settings.text_alignment }}">
            {%- render 'subheading', content: section.settings.subheading -%}

            {%- if section.settings.show_scrolling_title and section.settings.title != blank -%}
              <h2 class="{{ section.settings.title_tag }}">
                <marquee-text speed="0.3" direction="start-to-end" class="scrolling-content bleed">
                <span class="scrolling-content__item" style="font-size: var(--text-{{ section.settings.title_tag }})">
                  <span class="scrolling-content__text">
                    {%- render 'heading', content: section.settings.title, style: section.settings.title_tag, html_tag: 'span', instant: true -%}
                  </span>

                  {%- if section.settings.title_icon != 'none' -%}
                    <span class="shape shape--{{ section.settings.title_icon }}" style="font-size: var(--text-{{ section.settings.heading_size }})" aria-hidden="true"></span>
                  {%- endif -%}
                </span>
                </marquee-text>
              </h2>

            {%- else -%}
              {%- render 'heading', content: section.settings.title, indent: section.settings.title_icon, balance_text: true, style: section.settings.title_tag, html_tag: 'h2' -%}
            {%- endif -%}

            {%- if section.settings.product != blank and section.settings.show_product_link -%}
              {%- assign button_label = 'product.general.view_details' | t -%}
              {%- render 'button', content: button_label, href: section.settings.product.url, style: 'outline' -%}
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      <product-rerender id="featured-product-{{ section.id }}" observe-form="{{ product_form_id }}" allow-partial-rerender>
        <div class="product">
          {%- if section.settings.product.media.size > 0 or section.settings.product == blank -%}
            {%- render 'product-gallery',
                product: section.settings.product,
                product_form_id: product_form_id,
                desktop_layout: section.settings.desktop_media_layout,
                desktop_carousel_controls: section.settings.desktop_carousel_controls,
                mobile_controls: section.settings.mobile_controls,
                enable_media_autoplay: section.settings.enable_media_autoplay,
                enable_video_looping: section.settings.enable_video_looping,
                enable_image_zoom: section.settings.enable_image_zoom,
                max_image_zoom_level: section.settings.max_image_zoom_level
            -%}
          {%- endif -%}

          {%- render 'product-info',
              product: section.settings.product,
              product_form_id: product_form_id,
              content_alignment: section.settings.content_alignment,
              context: 'featured_product'
          -%}
        </div>
      </product-rerender>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_product.name",
  "class": "shopify-section--featured-product",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:global.text.content"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:global.text.subheading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.text.heading",
      "default": "Featured product"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "t:global.text.heading_size",
      "options": [
        {
          "value": "display-xl",
          "label": "Display XL"
        },
        {
          "value": "display-l",
          "label": "Display L"
        },
        {
          "value": "display-m",
          "label": "Display M"
        },
        {
          "value": "h1",
          "label": "XX-Large"
        },
        {
          "value": "h2",
          "label": "X-Large"
        },
        {
          "value": "h3",
          "label": "Large"
        },
        {
          "value": "h4",
          "label": "Medium"
        },
        {
          "value": "h5",
          "label": "Small"
        },
        {
          "value": "h6",
          "label": "X-Small"
        },
        {
          "value": "h7",
          "label": "XX-Small"
        }
      ],
      "default": "h3"
    },
    {
      "type": "select",
      "id": "title_icon",
      "label": "t:blocks.section_header.title_icon",
      "options": [
        {
          "value": "none",
          "label": "t:blocks.section_header.title_icon_options.none"
        },
        {
          "value": "circle",
          "label": "t:blocks.section_header.title_icon_options.circle"
        },
        {
          "value": "square",
          "label": "t:blocks.section_header.title_icon_options.square"
        },
        {
          "value": "diamond",
          "label": "t:blocks.section_header.title_icon_options.diamond"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "show_scrolling_title",
      "label": "t:blocks.section_header.show_scrolling_title",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_product_link",
      "label": "t:sections.featured_product.show_product_link"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "t:global.text.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.featured_product.product_category"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured_product.product"
    },
    {
      "type": "range",
      "id": "product_media_size",
      "label": "t:sections.main_product.product_media_size",
      "min": 30,
      "max": 70,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "text_alignment",
      "id": "content_alignment",
      "label": "t:global.text.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.main_product.media_category",
      "info": "t:sections.main_product.media_category_info"
    },
    {
      "type": "select",
      "id": "desktop_media_layout",
      "label": "t:sections.main_product.desktop_media_layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main_product.desktop_media_layout_options.grid"
        },
        {
          "value": "grid_half",
          "label": "t:sections.main_product.desktop_media_layout_options.grid_half"
        },
        {
          "value": "grid_half_highlight_first",
          "label": "t:sections.main_product.desktop_media_layout_options.grid_half_highlight_first"
        },
        {
          "value": "carousel",
          "label": "t:sections.main_product.desktop_media_layout_options.carousel"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "select",
      "id": "desktop_carousel_controls",
      "label": "t:sections.main_product.desktop_carousel_controls",
      "options": [
        {
          "value": "lines",
          "label": "t:sections.main_product.desktop_carousel_controls_options.lines"
        },
        {
          "value": "dots",
          "label": "t:sections.main_product.desktop_carousel_controls_options.dots"
        },
        {
          "value": "numbers",
          "label": "t:sections.main_product.desktop_carousel_controls_options.numbers"
        },
        {
          "value": "thumbnails_under",
          "label": "t:sections.main_product.desktop_carousel_controls_options.thumbnails_under"
        },
        {
          "value": "thumbnails_over",
          "label": "t:sections.main_product.desktop_carousel_controls_options.thumbnails_over"
        }
      ],
      "default": "thumbnails_under"
    },
    {
      "type": "select",
      "id": "mobile_controls",
      "label": "t:sections.main_product.mobile_controls",
      "options": [
        {
          "value": "lines",
          "label": "t:sections.main_product.mobile_controls_options.lines"
        },
        {
          "value": "dots",
          "label": "t:sections.main_product.mobile_controls_options.dots"
        },
        {
          "value": "numbers",
          "label": "t:sections.main_product.mobile_controls_options.numbers"
        },
        {
          "value": "thumbnails",
          "label": "t:sections.main_product.mobile_controls_options.thumbnails"
        },
        {
          "value": "none",
          "label": "t:sections.main_product.mobile_controls_options.none"
        }
      ],
      "default": "lines"
    },
    {
      "type": "checkbox",
      "id": "enable_media_autoplay",
      "label": "t:sections.main_product.enable_media_autoplay",
      "info": "t:sections.main_product.enable_media_autoplay_info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.main_product.enable_video_looping",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.main_product.image_zoom_category",
      "info": "t:sections.main_product.image_zoom_category_info"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "t:sections.main_product.image_zoom_enable",
      "default": true
    },
    {
      "type": "range",
      "id": "max_image_zoom_level",
      "min": 1,
      "max": 4,
      "step": 0.5,
      "label": "t:sections.main_product.image_zoom_max_level",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "vendor",
      "name": "t:sections.main_product.blocks.vendor.name",
      "limit": 1
    },
    {
      "type": "title",
      "name": "t:sections.main_product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_tag",
          "label": "t:global.text.size",
          "options": [
            {
              "value": "h1",
              "label": "XX-Large"
            },
            {
              "value": "h2",
              "label": "X-Large"
            },
            {
              "value": "h3",
              "label": "Large"
            },
            {
              "value": "h4",
              "label": "Medium"
            },
            {
              "value": "h5",
              "label": "Small"
            },
            {
              "value": "h6",
              "label": "X-Small"
            },
            {
              "value": "h7",
              "label": "XX-Small"
            }
          ],
          "default": "h3"
        }
      ]
    },
    {
      "type": "sku",
      "name": "t:sections.main_product.blocks.sku.name",
      "limit": 1
    },
    {
      "type": "badges",
      "name": "t:sections.main_product.blocks.badges.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.badges.instructions"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main_product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_taxes_notice",
          "label": "t:sections.main_product.blocks.price.show_taxes_notice",
          "default": false
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main_product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.rating.instructions"
        },
        {
          "type": "checkbox",
          "id": "show_empty",
          "label": "t:sections.main_product.blocks.rating.show_if_no_reviews",
          "default": false
        }
      ]
    },
    {
      "type": "payment_terms",
      "name": "t:sections.main_product.blocks.payment_terms.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.payment_terms.instructions"
        }
      ]
    },
    {
      "type": "separator",
      "name": "t:sections.main_product.blocks.separator.name"
    },
    {
      "type": "description",
      "name": "t:sections.main_product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "collapse_content",
          "label": "t:sections.main_product.blocks.description.collapse_content",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "uppercase_title",
          "label": "t:sections.main_product.blocks.collapsible_text.uppercase_title",
          "default": false,
          "visible_if": "{{ block.settings.collapse_content }}"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:global.icons.icon",
          "info": "t:global.icons.custom_icon_info",
          "visible_if": "{{ block.settings.collapse_content }}"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main_product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "t:sections.main_product.blocks.variant_picker.hide_sold_out_variants",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "separate_options",
          "label": "t:sections.main_product.blocks.variant_picker.separate_options",
          "default": false
        },
        {
          "type": "select",
          "id": "selector_style",
          "label": "t:sections.main_product.blocks.variant_picker.selector_style",
          "options": [
            {
              "value": "block",
              "label": "t:sections.main_product.blocks.variant_picker.selector_style_options.block"
            },
            {
              "value": "dropdown",
              "label": "t:sections.main_product.blocks.variant_picker.selector_style_options.dropdown"
            }
          ],
          "default": "block"
        },
        {
          "type": "select",
          "id": "swatch_selector_style",
          "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_style",
          "info": "t:sections.main_product.blocks.variant_picker.swatch_selector_style_info",
          "options": [
            {
              "value": "swatch",
              "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_style_options.swatch"
            },
            {
              "value": "block_swatch",
              "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_style_options.block_swatch"
            },
            {
              "value": "none",
              "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_style_options.none"
            }
          ],
          "default": "swatch"
        },
        {
          "type": "select",
          "id": "swatch_selector_size",
          "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_size",
          "options": [
            {
              "value": "sm",
              "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_size_options.small"
            },
            {
              "value": "lg",
              "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_size_options.large"
            }
          ],
          "default": "lg",
          "visible_if": "{{ block.settings.swatch_selector_style == 'swatch' }}"
        },
        {
          "type": "select",
          "id": "block_selector_style",
          "label": "t:sections.main_product.blocks.variant_picker.block_selector_style",
          "options": [
            {
              "value": "outline",
              "label": "t:sections.main_product.blocks.variant_picker.block_selector_style_options.outline"
            },
            {
              "value": "fill",
              "label": "t:sections.main_product.blocks.variant_picker.block_selector_style_options.fill"
            }
          ],
          "default": "outline"
        },
        {
          "type": "text",
          "id": "variant_image_options",
          "label": "t:sections.main_product.blocks.variant_picker.variant_image_options",
          "info": "t:sections.main_product.blocks.variant_picker.variant_image_options_info"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "t:sections.main_product.blocks.variant_picker.size_chart_page",
          "info": "t:sections.main_product.blocks.variant_picker.size_chart_page_info"
        }
      ]
    },
    {
      "type": "product_variations",
      "name": "t:sections.main_product.blocks.product_variations.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.product_variations.instructions"
        },
        {
          "type": "text",
          "id": "option_name",
          "label": "t:sections.main_product.blocks.product_variations.option_name",
          "placeholder": "t:sections.main_product.blocks.product_variations.option_name_placeholder"
        },
        {
          "type": "text",
          "id": "option_value_metafield",
          "label": "t:sections.main_product.blocks.product_variations.option_value_metafield",
          "info": "t:sections.main_product.blocks.product_variations.option_value_metafield_info"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "t:sections.main_product.blocks.product_variations.product_list",
          "info": "t:sections.main_product.blocks.product_variations.product_list_info"
        },
        {
          "type": "select",
          "id": "selector_style",
          "label": "t:sections.main_product.blocks.variant_picker.selector_style",
          "options": [
            {
              "value": "block",
              "label": "t:sections.main_product.blocks.variant_picker.selector_style_options.block"
            },
            {
              "value": "block_swatch",
              "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_style_options.block_swatch"
            },
            {
              "value": "swatch",
              "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_style_options.swatch"
            },
            {
              "value": "variant_image",
              "label": "t:sections.main_product.blocks.variant_picker.selector_style_options.variant_image"
            }
          ],
          "default": "swatch"
        },
        {
          "type": "select",
          "id": "swatch_selector_size",
          "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_size",
          "options": [
            {
              "value": "sm",
              "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_size_options.small"
            },
            {
              "value": "lg",
              "label": "t:sections.main_product.blocks.variant_picker.swatch_selector_size_options.large"
            }
          ],
          "default": "lg"
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "t:sections.main_product.blocks.line_item_property.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.line_item_property.line_item_info"
        },
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.main_product.blocks.line_item_property.line_item_label",
          "default": "Your label"
        },
        {
          "type": "select",
          "id": "type",
          "label": "t:sections.main_product.blocks.line_item_property.line_item_type",
          "options": [
            {
              "value": "text",
              "label": "t:sections.main_product.blocks.line_item_property.line_item_type_options.text"
            },
            {
              "value": "checkbox",
              "label": "t:sections.main_product.blocks.line_item_property.line_item_type_options.checkbox"
            },
            {
              "value": "dropdown",
              "label": "t:sections.main_product.blocks.line_item_property.line_item_type_options.dropdown"
            }
          ],
          "default": "text"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "t:sections.main_product.blocks.line_item_property.required",
          "info": "t:sections.main_product.blocks.line_item_property.required_info",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.line_item_property.text_type_category",
          "visible_if": "{{ block.settings.type == 'text' }}"
        },
        {
          "type": "checkbox",
          "id": "allow_long_text",
          "label": "t:sections.main_product.blocks.line_item_property.text_type_allow_long_text",
          "default": false,
          "visible_if": "{{ block.settings.type == 'text' }}"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "t:sections.main_product.blocks.line_item_property.text_placeholder",
          "visible_if": "{{ block.settings.type == 'text' }}"
        },
        {
          "type": "number",
          "id": "max_length",
          "label": "t:sections.main_product.blocks.line_item_property.text_type_max_length",
          "visible_if": "{{ block.settings.type == 'text' }}"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.line_item_property.checkbox_type_category",
          "visible_if": "{{ block.settings.type == 'checkbox' }}"
        },
        {
          "type": "text",
          "id": "checkbox_value",
          "label": "t:sections.main_product.blocks.line_item_property.checkbox_value",
          "info": "t:sections.main_product.blocks.line_item_property.checkbox_value_info",
          "default": "Yes",
          "visible_if": "{{ block.settings.type == 'checkbox' }}"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.line_item_property.dropdown_type_category",
          "visible_if": "{{ block.settings.type == 'dropdown' }}"
        },
        {
          "type": "text",
          "id": "select_values",
          "label": "t:sections.main_product.blocks.line_item_property.dropdown_values",
          "info": "t:sections.main_product.blocks.line_item_property.dropdown_values_info",
          "default": "Value 1,Value 2,Value 3",
          "visible_if": "{{ block.settings.type == 'dropdown' }}"
        }
      ]
    },
    {
      "type": "inventory",
      "name": "t:sections.main_product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_in_stock_quantity",
          "label": "t:sections.main_product.blocks.inventory.show_in_stock_quantity",
          "default": true
        },
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "label": "t:sections.main_product.blocks.inventory.low_inventory_threshold",
          "info": "t:sections.main_product.blocks.inventory.low_inventory_threshold_info",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0
        },
        {
          "type": "checkbox",
          "id": "show_progress_bar",
          "label": "t:sections.main_product.blocks.inventory.show_progress_bar",
          "default": true
        },
        {
          "type": "number",
          "id": "progress_bar_max_value",
          "label": "t:sections.main_product.blocks.inventory.progress_bar_max_value",
          "info": "t:sections.main_product.blocks.inventory.progress_bar_max_value_info",
          "default": 50
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main_product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_payment_button",
          "label": "t:sections.main_product.blocks.buy_buttons.show_payment_button",
          "info": "t:sections.main_product.blocks.buy_buttons.show_payment_button_info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "label": "t:sections.main_product.blocks.buy_buttons.show_gift_card_recipient",
          "info": "t:sections.main_product.blocks.buy_buttons.show_gift_card_recipient_info",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.buy_buttons.quantity_category"
        },
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "label": "t:sections.main_product.blocks.buy_buttons.show_quantity_selector",
          "info": "t:sections.main_product.blocks.buy_buttons.show_quantity_selector_info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "add_quantity_selector_spacing",
          "label": "t:sections.main_product.blocks.buy_buttons.add_quantity_selector_spacing",
          "info": "t:sections.main_product.blocks.buy_buttons.add_quantity_selector_spacing_info",
          "default": true
        },
        {
          "type": "header",
          "content": "t:global.colors.category"
        },
        {
          "type": "select",
          "id": "atc_button_style",
          "label": "t:global.text.button_style",
          "options": [
            {
              "value": "outline",
              "label": "t:global.text.button_style_options.outline"
            },
            {
              "value": "solid",
              "label": "t:global.text.button_style_options.solid"
            }
          ],
          "default": "solid"
        },
        {
          "type": "color",
          "id": "atc_button_background",
          "label": "t:sections.main_product.blocks.buy_buttons.add_to_cart_background"
        },
        {
          "type": "color",
          "id": "atc_button_text_color",
          "label": "t:sections.main_product.blocks.buy_buttons.add_to_cart_text_color"
        },
        {
          "type": "color",
          "id": "payment_button_background",
          "label": "t:sections.main_product.blocks.buy_buttons.payment_button_background"
        },
        {
          "type": "color",
          "id": "payment_button_text_color",
          "label": "t:sections.main_product.blocks.buy_buttons.payment_button_text_color"
        }
      ]
    },
    {
      "type": "volume_pricing",
      "name": "t:sections.main_product.blocks.volume_pricing.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.volume_pricing.instructions"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main_product.blocks.pickup_availability.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.pickup_availability.instructions"
        }
      ]
    },
    {
      "type": "complementary_products",
      "name": "t:sections.main_product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.complementary_products.instructions"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:global.text.heading",
          "default": "Pairs well with"
        },
        {
          "type": "range",
          "id": "products_count",
          "label": "t:sections.main_product.blocks.complementary_products.products_count",
          "min": 1,
          "max": 10,
          "default": 10
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.main_product.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:global.text.content",
          "default": "<p>Share some content to your customers about your products.</p>"
        }
      ]
    },
    {
      "type": "accordion",
      "name": "t:sections.main_product.blocks.collapsible_text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:global.text.title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>Share some content to your customers about your products.</p>"
        },
        {
          "type": "checkbox",
          "id": "uppercase_title",
          "label": "t:sections.main_product.blocks.collapsible_text.uppercase_title",
          "default": false
        },
        {
          "type": "select",
          "id": "icon",
          "label": "t:global.icons.icon",
          "options": [
            {
              "value": "none",
              "label": "t:global.icons.icon_options.none"
            },
            {
              "value": "picto-heart",
              "label": "t:global.icons.icon_options.heart",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-star",
              "label": "t:global.icons.icon_options.star",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-like",
              "label": "t:global.icons.icon_options.like",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-sparkle",
              "label": "t:global.icons.icon_options.sparkle",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-store",
              "label": "t:global.icons.icon_options.store",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-price-tag",
              "label": "t:global.icons.icon_options.price_tag",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-discount-coupon",
              "label": "t:global.icons.icon_options.discount_coupon",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-discount-badge",
              "label": "t:global.icons.icon_options.discount_badge",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-ticket-star",
              "label": "t:global.icons.icon_options.ticket_star",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-gift-card",
              "label": "t:global.icons.icon_options.gift_card",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-happy",
              "label": "t:global.icons.icon_options.happy",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-checked",
              "label": "t:global.icons.icon_options.checked",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-gift-box",
              "label": "t:global.icons.icon_options.gift_box",
              "group": "t:global.icons.icon_options.shopping_and_products_category"
            },
            {
              "value": "picto-credit-card",
              "label": "t:global.icons.icon_options.credit_card",
              "group": "t:global.icons.icon_options.payments_category"
            },
            {
              "value": "picto-wallet",
              "label": "t:global.icons.icon_options.wallet",
              "group": "t:global.icons.icon_options.payments_category"
            },
            {
              "value": "picto-secure",
              "label": "t:global.icons.icon_options.secure",
              "group": "t:global.icons.icon_options.payments_category"
            },
            {
              "value": "picto-refund",
              "label": "t:global.icons.icon_options.refund",
              "group": "t:global.icons.icon_options.payments_category"
            },
            {
              "value": "picto-invoice",
              "label": "t:global.icons.icon_options.invoice",
              "group": "t:global.icons.icon_options.payments_category"
            },
            {
              "value": "picto-loyalty-points",
              "label": "t:global.icons.icon_options.loyalty_points",
              "group": "t:global.icons.icon_options.payments_category"
            },
            {
              "value": "picto-location-pin",
              "label": "t:global.icons.icon_options.location_pin",
              "group": "t:global.icons.icon_options.shipping_and_delivery_category"
            },
            {
              "value": "picto-truck",
              "label": "t:global.icons.icon_options.truck",
              "group": "t:global.icons.icon_options.shipping_and_delivery_category"
            },
            {
              "value": "picto-express-delivery",
              "label": "t:global.icons.icon_options.express_delivery",
              "group": "t:global.icons.icon_options.shipping_and_delivery_category"
            },
            {
              "value": "picto-package",
              "label": "t:global.icons.icon_options.package",
              "group": "t:global.icons.icon_options.shipping_and_delivery_category"
            },
            {
              "value": "picto-shipping-protection",
              "label": "t:global.icons.icon_options.shipping_protection",
              "group": "t:global.icons.icon_options.shipping_and_delivery_category"
            },
            {
              "value": "picto-return-box",
              "label": "t:global.icons.icon_options.return_box",
              "group": "t:global.icons.icon_options.shipping_and_delivery_category"
            },
            {
              "value": "picto-return",
              "label": "t:global.icons.icon_options.return",
              "group": "t:global.icons.icon_options.shipping_and_delivery_category"
            },
            {
              "value": "picto-fragile",
              "label": "t:global.icons.icon_options.fragile",
              "group": "t:global.icons.icon_options.shipping_and_delivery_category"
            },
            {
              "value": "picto-warehouse",
              "label": "t:global.icons.icon_options.warehouse",
              "group": "t:global.icons.icon_options.shipping_and_delivery_category"
            },
            {
              "value": "picto-analytics-graph",
              "label": "t:global.icons.icon_options.analytics_graph",
              "group": "t:global.icons.icon_options.marketing_category"
            },
            {
              "value": "picto-social-media",
              "label": "t:global.icons.icon_options.social_media",
              "group": "t:global.icons.icon_options.marketing_category"
            },
            {
              "value": "picto-magnifying-glass",
              "label": "t:global.icons.icon_options.magnifying_glass",
              "group": "t:global.icons.icon_options.marketing_category"
            },
            {
              "value": "picto-trending",
              "label": "t:global.icons.icon_options.trending",
              "group": "t:global.icons.icon_options.marketing_category"
            },
            {
              "value": "picto-megaphone",
              "label": "t:global.icons.icon_options.megaphone",
              "group": "t:global.icons.icon_options.marketing_category"
            },
            {
              "value": "picto-recycle",
              "label": "t:global.icons.icon_options.recycle",
              "group": "t:global.icons.icon_options.nature_and_ecology_category"
            },
            {
              "value": "picto-leaf",
              "label": "t:global.icons.icon_options.leaf",
              "group": "t:global.icons.icon_options.nature_and_ecology_category"
            },
            {
              "value": "picto-tree",
              "label": "t:global.icons.icon_options.tree",
              "group": "t:global.icons.icon_options.nature_and_ecology_category"
            },
            {
              "value": "picto-science",
              "label": "t:global.icons.icon_options.science",
              "group": "t:global.icons.icon_options.nature_and_ecology_category"
            },
            {
              "value": "picto-earth",
              "label": "t:global.icons.icon_options.earth",
              "group": "t:global.icons.icon_options.nature_and_ecology_category"
            },
            {
              "value": "picto-sun",
              "label": "t:global.icons.icon_options.sun",
              "group": "t:global.icons.icon_options.nature_and_ecology_category"
            },
            {
              "value": "picto-summit",
              "label": "t:global.icons.icon_options.summit",
              "group": "t:global.icons.icon_options.nature_and_ecology_category"
            },
            {
              "value": "picto-feather",
              "label": "t:global.icons.icon_options.feather",
              "group": "t:global.icons.icon_options.nature_and_ecology_category"
            },
            {
              "value": "picto-drop-of-water",
              "label": "t:global.icons.icon_options.drop_of_water",
              "group": "t:global.icons.icon_options.nature_and_ecology_category"
            },
            {
              "value": "picto-email",
              "label": "t:global.icons.icon_options.email",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-inbox",
              "label": "t:global.icons.icon_options.inbox",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-plane",
              "label": "t:global.icons.icon_options.plane",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-mobile-phone",
              "label": "t:global.icons.icon_options.mobile_phone",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-phone",
              "label": "t:global.icons.icon_options.phone",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-chat",
              "label": "t:global.icons.icon_options.chat",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-customer-support",
              "label": "t:global.icons.icon_options.customer_support",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-comment",
              "label": "t:global.icons.icon_options.comment",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-date",
              "label": "t:global.icons.icon_options.date",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-info",
              "label": "t:global.icons.icon_options.info",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-text",
              "label": "t:global.icons.icon_options.text",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-ai-spark",
              "label": "t:global.icons.icon_options.ai_spark",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-user",
              "label": "t:global.icons.icon_options.user",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-news",
              "label": "t:global.icons.icon_options.news",
              "group": "t:global.icons.icon_options.communication_category"
            },
            {
              "value": "picto-glasses",
              "label": "t:global.icons.icon_options.glasses",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-craft",
              "label": "t:global.icons.icon_options.craft",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-compass",
              "label": "t:global.icons.icon_options.compass",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-asterisk",
              "label": "t:global.icons.icon_options.asterisk",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-microscope",
              "label": "t:global.icons.icon_options.microscope",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-weight",
              "label": "t:global.icons.icon_options.weight",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-pyramide",
              "label": "t:global.icons.icon_options.pyramide",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-sports",
              "label": "t:global.icons.icon_options.sports",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-wrap",
              "label": "t:global.icons.icon_options.wrap",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-expand",
              "label": "t:global.icons.icon_options.expand",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-measure",
              "label": "t:global.icons.icon_options.measure",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-cut",
              "label": "t:global.icons.icon_options.cut",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-furniture",
              "label": "t:global.icons.icon_options.furniture",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-music",
              "label": "t:global.icons.icon_options.music",
              "group": "t:global.icons.icon_options.objects_category"
            },
            {
              "value": "picto-drink",
              "label": "t:global.icons.icon_options.drink",
              "group": "t:global.icons.icon_options.food_and_drink_category"
            },
            {
              "value": "picto-burger",
              "label": "t:global.icons.icon_options.burger",
              "group": "t:global.icons.icon_options.food_and_drink_category"
            },
            {
              "value": "picto-pizza",
              "label": "t:global.icons.icon_options.pizza",
              "group": "t:global.icons.icon_options.food_and_drink_category"
            },
            {
              "value": "picto-fork-knife",
              "label": "t:global.icons.icon_options.fork_knife",
              "group": "t:global.icons.icon_options.food_and_drink_category"
            },
            {
              "value": "picto-chef",
              "label": "t:global.icons.icon_options.chef",
              "group": "t:global.icons.icon_options.food_and_drink_category"
            },
          ],
          "default": "none"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "t:global.icons.custom_icon",
          "info": "t:global.icons.custom_icon_info"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main_product.blocks.collapsible_text.page",
          "info": "t:sections.main_product.blocks.collapsible_text.page_info"
        }
      ]
    },
    {
      "type": "offers",
      "name": "t:sections.main_product.blocks.offers.name",
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "label": "t:sections.main_product.blocks.offers.layout",
          "info": "t:sections.main_product.blocks.offers.layout_info",
          "options": [
            {
              "value": "carousel",
              "label": "t:sections.main_product.blocks.offers.layout_options.carousel"
            },
            {
              "value": "stacked",
              "label": "t:sections.main_product.blocks.offers.layout_options.stacked"
            },
            {
              "value": "split",
              "label": "t:sections.main_product.blocks.offers.layout_options.split"
            }
          ],
          "default": "stacked"
        },
        {
          "type": "select",
          "id": "icon_position",
          "label": "t:sections.main_product.blocks.offers.icon_position",
          "options": [
            {
              "value": "stacked",
              "label": "t:sections.main_product.blocks.offers.icon_position_options.stacked"
            },
            {
              "value": "inline",
              "label": "t:sections.main_product.blocks.offers.icon_position_options.inline"
            }
          ],
          "default": "stacked"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "label": "t:global.text.alignment"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.offers.offer_1_category"
        },
        {
          "type": "image_picker",
          "id": "offer_1_icon",
          "label": "t:global.icons.icon",
          "info": "t:global.icons.custom_icon_info"
        },
        {
          "type": "range",
          "id": "offer_1_icon_width",
          "label": "t:global.icons.icon_width",
          "min": 16,
          "max": 48,
          "step": 2,
          "unit": "px",
          "default": 16
        },
        {
          "type": "inline_richtext",
          "id": "offer_1_subheading",
          "label": "t:global.text.subheading",
          "default": "Shipping"
        },
        {
          "type": "inline_richtext",
          "id": "offer_1_content",
          "label": "t:global.text.content",
          "default": "Write information about your shipping rates."
        },
        {
          "type": "color",
          "id": "offer_1_background",
          "label": "t:global.colors.background",
          "default": "#f9f9f9"
        },
        {
          "type": "color",
          "id": "offer_1_text_color",
          "label": "t:global.colors.text",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.offers.offer_2_category"
        },
        {
          "type": "image_picker",
          "id": "offer_2_icon",
          "label": "t:global.icons.icon",
          "info": "t:global.icons.custom_icon_info"
        },
        {
          "type": "range",
          "id": "offer_2_icon_width",
          "label": "t:global.icons.icon_width",
          "min": 16,
          "max": 48,
          "step": 2,
          "unit": "px",
          "default": 16
        },
        {
          "type": "inline_richtext",
          "id": "offer_2_subheading",
          "label": "t:global.text.subheading"
        },
        {
          "type": "inline_richtext",
          "id": "offer_2_content",
          "label": "t:global.text.content"
        },
        {
          "type": "color",
          "id": "offer_2_background",
          "label": "t:global.colors.background",
          "default": "#f9f9f9"
        },
        {
          "type": "color",
          "id": "offer_2_text_color",
          "label": "t:global.colors.text",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.offers.offer_3_category"
        },
        {
          "type": "image_picker",
          "id": "offer_3_icon",
          "label": "t:global.icons.icon",
          "info": "t:global.icons.custom_icon_info"
        },
        {
          "type": "range",
          "id": "offer_3_icon_width",
          "label": "t:global.icons.icon_width",
          "min": 16,
          "max": 48,
          "step": 2,
          "unit": "px",
          "default": 16
        },
        {
          "type": "inline_richtext",
          "id": "offer_3_subheading",
          "label": "t:global.text.subheading"
        },
        {
          "type": "inline_richtext",
          "id": "offer_3_content",
          "label": "t:global.text.content"
        },
        {
          "type": "color",
          "id": "offer_3_background",
          "label": "t:global.colors.background",
          "default": "#f9f9f9"
        },
        {
          "type": "color",
          "id": "offer_3_text_color",
          "label": "t:global.colors.text",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "t:sections.main_product.blocks.countdown.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Hurry up! Sale ends in"
        },
        {
          "type": "color",
          "id": "background",
          "label": "t:global.colors.background",
          "default": "#f9f9f9"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:global.colors.text",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "t:sections.countdown_timer.timer_category",
          "info": "t:sections.countdown_timer.timezone_information"
        },
        {
          "type": "text",
          "id": "expiration_date",
          "label": "t:sections.countdown_timer.expiration_date",
          "placeholder": "Eg. 2025-12-25 12:00",
          "info": "t:sections.countdown_timer.expiration_date_info"
        },
        {
          "type": "select",
          "id": "expiration_behavior",
          "label": "t:sections.countdown_timer.expiration_behavior",
          "options": [
            {
              "value": "hide",
              "label": "t:sections.countdown_timer.expiration_behavior_options.hide"
            },
            {
              "value": "leave",
              "label": "t:sections.countdown_timer.expiration_behavior_options.leave"
            }
          ],
          "default": "leave"
        }
      ]
    },
    {
      "type": "icons_with_text",
      "name": "t:sections.main_product.blocks.icons_with_text.name",
      "settings": [
        {
          "type": "range",
          "min": 1,
          "max": 3,
          "id": "items_per_row",
          "label": "t:sections.main_product.blocks.icons_with_text.items_per_row",
          "info": "t:sections.main_product.blocks.icons_with_text.items_per_row_info",
          "default": 1
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.icons_with_text.icon_1_category"
        },
        {
          "type": "image_picker",
          "id": "icon_1",
          "label": "t:global.icons.icon"
        },
        {
          "type": "range",
          "id": "icon_1_width",
          "min": 8,
          "max": 64,
          "step": 2,
          "unit": "px",
          "label": "t:global.icons.icon_width",
          "default": 24
        },
        {
          "type": "inline_richtext",
          "id": "icon_1_text",
          "label": "t:global.text.text"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.icons_with_text.icon_2_category"
        },
        {
          "type": "image_picker",
          "id": "icon_2",
          "label": "t:global.icons.icon"
        },
        {
          "type": "range",
          "id": "icon_2_width",
          "min": 8,
          "max": 64,
          "step": 2,
          "unit": "px",
          "label": "t:global.icons.icon_width",
          "default": 24
        },
        {
          "type": "inline_richtext",
          "id": "icon_2_text",
          "label": "t:global.text.text"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.icons_with_text.icon_3_category"
        },
        {
          "type": "image_picker",
          "id": "icon_3",
          "label": "t:global.icons.icon"
        },
        {
          "type": "range",
          "id": "icon_3_width",
          "min": 8,
          "max": 64,
          "step": 2,
          "unit": "px",
          "label": "t:global.icons.icon_width",
          "default": 24
        },
        {
          "type": "inline_richtext",
          "id": "icon_3_text",
          "label": "t:global.text.text"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.icons_with_text.icon_4_category"
        },
        {
          "type": "image_picker",
          "id": "icon_4",
          "label": "t:global.icons.icon"
        },
        {
          "type": "range",
          "id": "icon_4_width",
          "min": 8,
          "max": 64,
          "step": 2,
          "unit": "px",
          "label": "t:global.icons.icon_width",
          "default": 24
        },
        {
          "type": "inline_richtext",
          "id": "icon_4_text",
          "label": "t:global.text.text"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.main_product.blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:global.code.liquid",
          "info": "t:global.code.liquid_info"
        }
      ]
    },
    {
      "type": "modal",
      "name": "t:sections.main_product.blocks.modal.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.modal.instructions"
        },
        {
          "type": "select",
          "id": "dialog_type",
          "label": "t:sections.main_product.blocks.modal.dialog_type",
          "options": [
            {
              "value": "modal",
              "label": "t:sections.main_product.blocks.modal.dialog_type_options.modal"
            },
            {
              "value": "drawer",
              "label": "t:sections.main_product.blocks.modal.dialog_type_options.drawer"
            }
          ],
          "default": "modal"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "inline_richtext",
          "id": "button_title",
          "label": "t:global.text.button_text",
          "default": "Button title"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:global.text.style",
          "options": [
            {
              "value": "outline",
              "label": "t:global.text.button_style_options.outline"
            },
            {
              "value": "solid",
              "label": "t:global.text.button_style_options.solid"
            },
            {
              "value": "link",
              "label": "t:global.text.button_style_options.link"
            }
          ],
          "default": "solid"
        },
        {
          "type": "checkbox",
          "id": "stretch_button",
          "label": "t:sections.main_product.blocks.button.stretch"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "t:global.colors.background"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:global.colors.text"
        },
        {
          "type": "header",
          "content": "t:sections.main_product.blocks.modal.content_category"
        },
        {
          "type": "inline_richtext",
          "id": "modal_title",
          "label": "t:sections.main_product.blocks.modal.modal_title",
          "default": "Modal title"
        },
        {
          "type": "richtext",
          "id": "modal_content",
          "label": "t:sections.main_product.blocks.modal.modal_content",
          "default": "<p>Write some content that will appear in a modal</p>"
        },
        {
          "type": "select",
          "id": "modal_size",
          "label": "t:global.sizes.size",
          "options": [
            {
              "value": "sm",
              "label": "t:global.sizes.small"
            },
            {
              "value": "lg",
              "label": "t:global.sizes.large"
            }
          ],
          "default": "sm"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.main_product.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.image.image"
        },
        {
          "type": "text_alignment",
          "id": "alignment",
          "label": "t:global.image.alignment"
        },
        {
          "type": "radio",
          "id": "width_mode",
          "label": "t:global.image.width",
          "options": [
            {
              "value": "full_width",
              "label": "t:global.image.width_options.full_width"
            },
            {
              "value": "custom",
              "label": "t:global.image.width_options.custom"
            }
          ],
          "default": "custom"
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 100,
          "max": 600,
          "step": 10,
          "unit": "px",
          "label": "t:global.image.maximum_width",
          "default": 300
        },
        {
          "type": "range",
          "id": "mobile_max_width",
          "min": 100,
          "max": 600,
          "step": 10,
          "unit": "px",
          "label": "t:global.image.mobile_maximum_width",
          "default": 200
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.main_product.blocks.button.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.button.instructions"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.main_product.blocks.button.link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.main_product.blocks.button.text",
          "default": "Button"
        },
        {
          "type": "select",
          "id": "style",
          "label": "t:global.text.button_style",
          "options": [
            {
              "value": "outline",
              "label": "t:global.text.button_style_options.outline"
            },
            {
              "value": "solid",
              "label": "t:global.text.button_style_options.solid"
            }
          ],
          "default": "solid"
        },
        {
          "type": "checkbox",
          "id": "stretch",
          "label": "t:sections.main_product.blocks.button.stretch"
        },
        {
          "type": "color",
          "id": "background",
          "label": "t:global.colors.background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:global.colors.text"
        }
      ]
    },
    {
      "type": "share_buttons",
      "name": "t:sections.main_product.blocks.share_buttons.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.share_buttons.instructions"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_product.name",
      "category": "t:global.categories.products",
      "blocks": [
        {
          "type": "vendor"
        },
        {
          "type": "title"
        },
        {
          "type": "badges"
        },
        {
          "type": "price"
        },
        {
          "type": "rating"
        },
        {
          "type": "payment_terms"
        },
        {
          "type": "separator"
        },
        {
          "type": "description"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "buy_buttons"
        },
        {
          "type": "pickup_availability"
        }
      ]
    }
  ]
}
{% endschema %}
