{%- capture section_main_content -%}
  <div class="password {% if section.settings.background_image == blank and section.settings.image_rotating_text == blank %}container{% endif %}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'logo' -%}
          {%- capture logo_content -%}
            {%- if block.settings.image != blank -%}
              {%- capture sizes -%}{{ block.settings.max_width }}px{%- endcapture -%}
              {%- capture widths -%}{{ block.settings.max_width | times: 2 | at_most: block.settings.image.width }}, {{ block.settings.max_width | times: 3 | at_most: block.settings.image.width }}{%- endcapture -%}
              {%- capture style -%}--image-mobile-max-width: {{ block.settings.mobile_max_width }}px; --image-max-width: {{ block.settings.max_width }}px{%- endcapture -%}

              <span class="sr-only">{{ shop.name }}</span>
              {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: style: style, sizes: sizes, widths: widths, class: 'constrained-image' -}}
            {%- else -%}
              <span class="h4">{{ shop.name }}</span>
            {%- endif -%}
          {%- endcapture -%}

          <h1 {{ block.shopify_attributes }}>{{- logo_content -}}</h1>

        {%- when 'content' -%}
          <div class="w-full max-w-xs">
            <div class="v-stack gap-8 sm:gap-10">
              <div class="v-stack gap-4 sm:gap-6">
                {%- if shop.password_message != blank -%}
                  <div class="prose prose-justify-center">
                    <p>{{ shop.password_message }}</p>
                  </div>
                {%- endif -%}

                <div class="v-stack gap-4">
                  {%- form 'customer', class: 'fieldset' -%}
                    {%- if form.posted_successfully? -%}
                      {%- assign success_message = 'general.newsletter.subscribed_successfully' | t -%}
                      {%- render 'banner', status: 'success', content: success_message, text_alignment: 'center' -%}
                    {%- else -%}
                      {%- if form.errors -%}
                        {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                        {%- render 'banner', status: 'error', content: error_message -%}
                      {%- endif -%}

                      <input type="hidden" name="contact[tags]" value="newsletter">

                      {%- assign email_label = 'general.newsletter.email' | t -%}
                      {%- render 'input', type: 'email', name: 'contact[email]', label: email_label, required: true -%}

                      {%- assign submit_button = 'general.newsletter.notify_me' | t -%}
                      {%- render 'button', type: 'submit', content: submit_button, stretch: true -%}
                    {%- endif -%}
                  {%- endform -%}

                  {%- comment -%}
                  -----------------------------------------------------------------------------
                  ACCESS STOREFRONT MODAL
                  -----------------------------------------------------------------------------
                  {%- endcomment -%}

                  <button aria-controls="access-storefront-modal" class="justify-self-center link">
                    {{- 'password.storefront_access.enter_password' | t -}}
                  </button>

                  {%- liquid
                    assign has_form_errors = false

                    capture storefront_form
                      form 'storefront_password', class: 'fieldset'
                        if form.errors
                          assign has_form_errors = true
                          render 'banner', status: 'error', content: form.errors.messages['form'], text_alignment: 'center'
                        endif
                  
                        assign password_label = 'password.storefront_access.password' | t
                        assign submit_label = 'password.storefront_access.enter_store' | t
                  
                        render 'input', type: 'password', name: 'password', label: password_label, required: true
                        render 'button', type: 'submit', content: submit_label, stretch: true
                      endform
                    endcapture
                  -%}

                  <x-modal {% if has_form_errors %}open{% endif %} id="access-storefront-modal" class="modal color-scheme color-scheme--{{ settings.default_color_scheme.id }}">
                    <div class="v-stack gap-6 text-center">
                      <div class="v-stack justify-items-center gap-4">
                        {%- render 'icon' with 'lock' -%}
                        <p class="h4">{{ 'password.storefront_access.store_access' | t }}</p>
                      </div>

                      <p>{{ 'password.storefront_access.instructions' | t }}</p>

                      {{- storefront_form -}}
                    </div>
                  </x-modal>
                </div>
              </div>

              {%- comment -%}
              -----------------------------------------------------------------------------
              SOCIAL MEDIA
              -----------------------------------------------------------------------------
              {%- endcomment -%}

              {%- capture social_media -%}{%- render 'social-media' -%}{%- endcapture -%}

              {%- if block.settings.show_social_media and social_media != blank -%}
                <hr>

                <div class="v-stack justify-items-center gap-5">
                  <p>{{ 'password.general.follow_us' | t }}</p>
                  {{- social_media -}}
                </div>
              {%- endif -%}
            </div>
          </div>
      {%- endcase -%}
    {%- endfor -%}

    {%- comment -%}
    -----------------------------------------------------------------------------
    POWERED BY SHOPIFY
    -----------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="v-stack gap-2">
      <div class="h-stack gap-1">
        <p>{{ 'password.general.powered_by' | t }}</p>
        {%- render 'icon' with 'shopify-logo' -%}
      </div>

      <div class="h-stack gap-1">
        <p>{{- 'password.general.store_owner' | t -}}</p>
        <a href="/admin" class="link" target="_blank">{{ 'password.general.login' | t }}</a>
      </div>
    </div>
  </div>
{%- endcapture -%}

<div class="color-scheme color-scheme color-scheme--{{ section.settings.content_color_scheme.id }}">
  {%- if section.settings.background_image != blank or section.settings.image_rotating_text != blank -%}
    <div class="section-split sm:min-h-fill">
      <div class="section-split__column section-split__column--image section-split__column--flushed">
        <div class="content-box h-full min-h-sm color-scheme color-scheme--{{ section.settings.image_color_scheme.id }}">
          {%- if section.settings.background_image != blank -%}
            <div class="content-box__background-media">
              {{- section.settings.background_image | image_url: width: section.settings.background_image.width | image_tag: sizes: '(max-width: 699px) 100vw, 50vw', widths: '200,300,400,600,800,1000,1200,1400,1600,1800,2000' -}}
            </div>
          {%- endif -%}

          {%- if section.settings.image_rotating_text != blank -%}
            <div class="column-span-full align-self-center">
              <marquee-text speed="0.1" direction="start-to-end" class="scrolling-content">
                <div class="scrolling-content__item" style="font-size: var(--text-h1)">
                  <p class="h1">{{ section.settings.image_rotating_text }}</p>
                </div>
              </marquee-text>

              <marquee-text speed="0.1" direction="end-to-start" class="scrolling-content">
                <div class="scrolling-content__item" style="font-size: var(--text-h1)">
                  <p class="h1">{{ section.settings.image_rotating_text }}</p>
                </div>
              </marquee-text>
            </div>
          {%- endif -%}
        </div>
      </div>

      <div class="section-split__column align-self-center">
        {{- section_main_content -}}
      </div>
    </div>
  {%- else -%}
    <div class="min-h-fill">
      {{- section_main_content -}}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "class": "shopify-section--main-password",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "image_color_scheme",
      "label": "t:sections.main_password.image_color_scheme",
      "default": "scheme-4"
    },
    {
      "type": "color_scheme",
      "id": "content_color_scheme",
      "label": "t:sections.main_password.content_color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:global.image.background_image",
      "info": "t:sections.main_password.background_image_size_recommendation"
    },
    {
      "type": "inline_richtext",
      "id": "image_rotating_text",
      "label": "t:sections.main_password.image_rotating_text",
      "default": "Opening Soon"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "t:sections.main_password.blocks.logo.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.image.image",
          "info": "t:sections.main_password.blocks.logo.logo_size_recommendation"
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 50,
          "max": 300,
          "step": 5,
          "unit": "px",
          "label": "t:global.image.width",
          "default": 140
        },
        {
          "type": "range",
          "id": "mobile_max_width",
          "min": 50,
          "max": 170,
          "step": 5,
          "unit": "px",
          "label": "t:global.image.mobile_width",
          "default": 100
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main_password.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_password.blocks.content.instructions"
        },
        {
          "type": "checkbox",
          "id": "show_social_media",
          "label": "t:sections.main_password.blocks.content.show_social_media",
          "info": "t:sections.main_password.blocks.content.show_social_media_info",
          "default": true
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "logo"
      },
      {
        "type": "content"
      }
    ]
  }
}
{% endschema %}
