{%- capture quick_buy_id -%}product-quick-buy-{{ block.id }}-{{ block.settings.product.id }}{%- endcapture -%}

<div id="shopify-block-{{ block.id }}" class="hot-spot">
  <style>
    #shopify-block-{{ block.id }} {
      --hot-spot-mobile-horizontal-position: {{ block.settings.mobile_horizontal_position }}%;
      --hot-spot-mobile-vertical-position: {{ block.settings.mobile_vertical_position }}%;
      --hot-spot-desktop-horizontal-position: {{ block.settings.desktop_horizontal_position }}%;
      --hot-spot-desktop-vertical-position: {{ block.settings.desktop_vertical_position }}%;
    }
  </style>

  <button class="hot-spot__dot hot-spot__dot--product" aria-expanded="false" aria-controls="{{ quick_buy_id }}">
    <span class="sr-only">{{ 'sections.hot_spots.show_hot_spot_details' | t }}</span>
    {%- render 'icon' with 'hot-spot-cross' -%}
  </button>

  {%- liquid
    assign anchor_position = 'left-top'

    if block.settings.desktop_horizontal_position < 50
      assign anchor_position = anchor_position | replace: 'left', 'right'
    endif

    if block.settings.desktop_vertical_position < 50
      assign anchor_position = anchor_position | replace: 'top', 'bottom'
    endif
  -%}

  <quick-buy-modal id="{{ quick_buy_id }}" product-url="{{ block.settings.product.url }}" class="modal modal--quick-buy color-scheme color-scheme--{{ settings.default_color_scheme.id }}">
    {%- comment -%}The content will be dynamically filled in JS{%- endcomment -%}
  </quick-buy-modal>
</div>

{% schema %}
{
  "name": "t:sections.hot_spots.blocks.product.name",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.hot_spots.blocks.product.product"
    },
    {
      "type": "header",
      "content": "t:sections.hot_spots.blocks.global.desktop_category"
    },
    {
      "type": "range",
      "id": "desktop_horizontal_position",
      "label": "t:sections.hot_spots.blocks.global.desktop_horizontal_position",
      "min": 5,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "range",
      "id": "desktop_vertical_position",
      "label": "t:sections.hot_spots.blocks.global.desktop_vertical_position",
      "min": 5,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:sections.hot_spots.blocks.global.mobile_category",
      "info": "t:sections.hot_spots.blocks.global.mobile_category_info"
    },
    {
      "type": "range",
      "id": "mobile_horizontal_position",
      "label": "t:sections.hot_spots.blocks.global.mobile_horizontal_position",
      "min": 5,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_vertical_position",
      "label": "t:sections.hot_spots.blocks.global.mobile_vertical_position",
      "min": 5,
      "max": 95,
      "step": 1,
      "unit": "%",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "t:sections.hot_spots.blocks.product.name"
    }
  ]
}
{% endschema %}