{%- capture slide -%}
  {%- liquid
    assign is_first = false
    assign block_index = section.blocks | find_index: 'id', block.id

    for section_block in section.blocks
      if block.id == section_block.id and forloop.first
        assign is_first = true
        break
      endif
    endfor
  -%}

  <div class="content-box min-h-{{ section.settings.image_size }}">
    <div class="content-box__background-media with-overlay" style="--overlay: {{ block.settings.overlay_color.rgb }} / {{ block.settings.overlay_opacity | divided_by: 100.0 }}">
      {%- if block.settings.image != blank -%}
        {%- if block.settings.split_image != blank -%}
          <figure class="slideshow__split-media">
            {%- render 'media' with block.settings.image, mobile_media: block.settings.mobile_image, preload: is_first, sizes: '(max-width: 699px) 100vw, 50vw' -%}
            {%- render 'media' with block.settings.split_image, preload: is_first, sizes: '50vw' -%}
          </figure>
        {%- else -%}
          {%- render 'media' with block.settings.image, mobile_media: block.settings.mobile_image, preload: is_first, sizes: '100vw' -%}
        {%- endif -%}
      {%- else -%}
        {%- capture placeholder_svg -%}hero-apparel-{{ block_index | modulo: 3 | plus: 1 }}{%- endcapture -%}
        {{- placeholder_svg | placeholder_svg_tag: 'size-full' -}}
      {%- endif -%}
    </div>

    <div class="{{ block.settings.mobile_content_position }} {{ block.settings.desktop_content_position }}" style="max-width: {{ block.settings.content_max_width }}px">
      <div class="prose prose-justify-{{ block.settings.mobile_content_position | split: '-' | last }} sm:prose-justify-{{ block.settings.desktop_content_position | split: '-' | last }}">
        {%- content_for 'blocks' -%}
      </div>
    </div>
  </div>
{%- endcapture -%}

{%- if block.settings.slide_link != blank -%}
  <a href="{{ block.settings.slide_link }}" class="slideshow__slide {% if is_first %}is-selected{% endif %} {% if block.settings.split_image != blank %}h-full{% endif %} color-scheme color-scheme--{{ block.settings.color_scheme.id }}" data-slide-type="image" role="group" {{ block.shopify_attributes }}>
    {{- slide -}}
  </a>
{%- else -%}
  <div class="slideshow__slide {% if is_first %}is-selected{% endif %} {% if block.settings.split_image != blank %}h-full{% endif %} color-scheme color-scheme--{{ block.settings.color_scheme.id }}" data-slide-type="image" role="group" {{ block.shopify_attributes }}>
    {{- slide -}}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.slideshow.blocks.image.name",
  "tag": null,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-3"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:global.image.image",
      "info": "t:sections.slideshow.blocks.image.desktop_image_size_recommendation"
    },
    {
      "type": "image_picker",
      "id": "split_image",
      "label": "t:sections.slideshow.blocks.image.split_image",
      "info": "t:sections.slideshow.blocks.image.split_image_size_recommendation",
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:global.image.mobile_image",
      "info": "t:sections.slideshow.blocks.image.mobile_image_size_recommendation"
    },
    {
      "type": "url",
      "id": "slide_link",
      "label": "t:global.text.link_url",
      "info": "t:sections.slideshow.blocks.global.link_info"
    },
    {
      "type": "header",
      "content": "t:global.text.content"
    },
    {
      "type": "range",
      "id": "content_max_width",
      "label": "t:sections.slideshow.blocks.global.content_maximum_width",
      "min": 400,
      "max": 1400,
      "step": 20,
      "unit": "px",
      "default": 1000
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "label": "t:global.position.mobile_content_position",
      "options": [
        {
          "value": "place-self-start",
          "label": "t:global.position.top_left"
        },
        {
          "value": "place-self-start-center",
          "label": "t:global.position.top_center"
        },
        {
          "value": "place-self-start-end",
          "label": "t:global.position.top_right"
        },
        {
          "value": "place-self-center-start",
          "label": "t:global.position.middle_left"
        },
        {
          "value": "place-self-center",
          "label": "t:global.position.middle_center"
        },
        {
          "value": "place-self-center-end",
          "label": "t:global.position.middle_right"
        },
        {
          "value": "place-self-end-start",
          "label": "t:global.position.bottom_left"
        },
        {
          "value": "place-self-end-center",
          "label": "t:global.position.bottom_center"
        },
        {
          "value": "place-self-end",
          "label": "t:global.position.bottom_right"
        }
      ],
      "default": "place-self-center"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "t:global.position.desktop_content_position",
      "options": [
        {
          "value": "sm:place-self-start",
          "label": "t:global.position.top_left"
        },
        {
          "value": "sm:place-self-start-center",
          "label": "t:global.position.top_center"
        },
        {
          "value": "sm:place-self-start-end",
          "label": "t:global.position.top_right"
        },
        {
          "value": "sm:place-self-center-start",
          "label": "t:global.position.middle_left"
        },
        {
          "value": "sm:place-self-center",
          "label": "t:global.position.middle_center"
        },
        {
          "value": "sm:place-self-center-end",
          "label": "t:global.position.middle_right"
        },
        {
          "value": "sm:place-self-end-start",
          "label": "t:global.position.bottom_left"
        },
        {
          "value": "sm:place-self-end-center",
          "label": "t:global.position.bottom_center"
        },
        {
          "value": "sm:place-self-end",
          "label": "t:global.position.bottom_right"
        }
      ],
      "default": "sm:place-self-center"
    },
    {
      "type": "header",
      "content": "t:global.colors.category"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:global.colors.image_overlay_color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:global.colors.image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 20
    }
  ],
  "blocks": [
    { "type": "subheading" },
    { "type": "heading" },
    { "type": "icon" },
    { "type": "rich-text" },
    { "type": "button-group" },
    { "type": "button" }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.blocks.image.name",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "text": "Slide",
            "heading_size": "h1"
          }
        }
      ]
    }
  ]
}
{% endschema %}