{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
VARIANT PICKER
----------------------------------------------------------------------------------------------------------------------

Render the variant picker option selectors.

********************************************
Supported variables
********************************************

* product: the product for which to render the selector (required)
* context: the context of the variant picker. Can be "main_product", "featured_product" or "quick_buy" (required)
* form_id: the ID of the form that is listening
* hide_sold_out_variants: if set to true, the sold out or unavailable variants are hidden
* separate_options: if set to true, consecutive options are separated by a border
* selector_style: the selector style to use for the main selectors
* swatcblock-swatch
h_selector_style: the selector style to use for the dedicated swatch selectors
* swatch_selector_size: the size for the color selectors. Can be either "sm" or "lg"
* block_selector_style: the selector style to use for the dedicated block selectors
* variant_image_options: a list of option names for which to use the variant image selector mode
* size_chart_page: the page to use for the size chart
* alignment: the content alignment for options (can be "start", "center" or "end")
{%- endcomment -%}

{%- liquid
  assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ','
  assign size_label_list = 'general.label.size' | t | replace: ', ', ',' | downcase | split: ','
  assign variant_image_options = variant_image_options | replace: ', ', ',' | downcase | split: ','

  if context == 'main_product'
    assign is_main_product = true
  endif
-%}

{%- unless product.has_only_default_variant -%}
  <variant-picker class="variant-picker" section-id="{{ section.id }}" form-id="{{ form_id }}" handle="{{ product.handle }}" {% if is_main_product %}update-url{% endif %}>
    {%- comment -%}
    The variant data is outputted as a JSON, which allows the theme to emit an event with the data when the variant changes. This must not be removed.
    {%- endcomment -%}
    <script data-variant type="application/json">
      {{- product.selected_or_first_available_variant | json -}}
    </script>
    
    {%- for option in product.options_with_values -%}
      {% liquid
        assign option_downcase = option.name | downcase
        assign resolved_option_selector_style = selector_style

        assign swatch_count = option.values | map: 'swatch' | compact | size

        if swatch_count > 0 and swatch_selector_style != 'none'
          # Use the swatch selector type only if we have at least one swatch and a supported swatch selector type
          assign resolved_option_selector_style = swatch_selector_style
        endif

        # Implementation note: if the option value has no native swatch, BUT that the option name matches a hardcoded list of color names,
        # we fallback to the legacy config-based system. This allows to keep compatibility with stores that were using the config-based, and
        # allow those merchants to upgrade to the new system at their own pace.
        if swatch_count == 0 and color_label_list contains option_downcase and swatch_selector_style != 'none'
          assign resolved_option_selector_style = swatch_selector_style
        endif

        if variant_image_options contains option_downcase
          assign resolved_option_selector_style = 'variant_image'
        endif
      %}

      <fieldset class="variant-picker__option justify-{{ alignment }}">
        <div class="variant-picker__option-info {% if alignment == 'start' %}justify-between{% else %}justify-{{ alignment }}{% endif %}">
          <div class="h-stack gap-2">
            <legend class="text-subdued">{{ option.name }}:</legend>
            <span>{{ option.selected_value }}</span>
          </div>

          {%- if size_chart_page != blank and size_label_list contains option_downcase -%}
            {%- capture id -%}size-chart-{{ section.id }}-{{ block.id }}{%- endcapture -%}

            <button type="button" class="link subheading" aria-controls="{{ id | escape }}" aria-expanded="false">
              {{- 'product.general.size_chart' | t -}}
            </button>

            <x-drawer id="{{ id | escape }}" class="drawer color-scheme color-scheme--{{ settings.default_color_scheme.id }}">
              <span class="h5" slot="header">{{ size_chart_page.title }}</span>

              <div class="prose">
                {{- size_chart_page.content -}}
              </div>
            </x-drawer>
          {%- endif -%}
        </div>

        {%- if resolved_option_selector_style == 'dropdown' -%}
          <div class="relative">
            {%- capture popover_id -%}popover-variant-dropdown-{{ section.id }}-{{ product.id }}-{{ option.position }}{%- endcapture -%}

            <button type="button" class="select {% if settings.input_uppercase %}subheading{% endif %}" aria-controls="{{ popover_id }}" aria-expanded="false">
              <span id="{{ popover_id }}-selected-value">{{- option.selected_value -}}</span>
              {%- render 'icon' with 'chevron-down' -%}
            </button>

            <x-popover id="{{ popover_id }}" class="popover popover--w-full color-scheme color-scheme--{{ settings.default_color_scheme.id }}" close-on-listbox-change>
              <p class="h6" slot="header">{{ option.name }}</p>

              <div class="popover__value-list">
                {%- assign param_name = form_id | append: '-option' | append: option.position -%}
                
                {%- for option_value in option.values -%}
                  {%- capture option_markup -%}
                    <span {% if option_value.available == false %}class="line-through"{% endif %}>{{- option_value -}}</span>
                  {%- endcapture -%}

                  {%- if hide_sold_out_variants == false or option_value.available or option_value.selected -%}
                    {%- if is_main_product and option_value.product_url != blank -%}
                      <div class="popover__value-option">
                        {%- if option_value.selected -%}
                          <input class="sr-only" type="radio" id="{{ param_name }}-{{ option_value.id }}" form="{{ form_id }}" name="{{ param_name }}" data-option-position="{{ option.position }}" value="{{ option_value.id }}" checked>
                        {%- endif -%}

                        <a href="{{ option_value.variant.url | default: option_value.product_url }}" class="h-stack justify-between gap-2 link-faded-reverse">
                          {{- option_markup -}}
                        </a>
                      </div>
                    {%- else -%}
                      <label class="popover__value-option" for="{{ param_name }}-{{ option_value.id }}">
                        <input class="sr-only" type="radio" id="{{ param_name }}-{{ option_value.id }}" form="{{ form_id }}" name="{{ param_name }}" {% if option_value.product_url != blank %}data-product-url="{{ option_value.product_url | escape }}"{% endif %} data-option-position="{{ option.position }}" value="{{ option_value.id }}" {% if option_value.selected %}checked{% endif %}>
                        {{- option_markup -}}
                      </label>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </x-popover>
          </div>
        {%- else -%}
          {%- liquid
            case resolved_option_selector_style
              when 'swatch'
                case settings.color_swatch_shape
                  when 'circle'
                    if swatch_selector_size == 'sm'
                      assign list_classes = 'h-stack gap-3 wrap'
                    else
                      assign list_classes = 'h-stack gap-4 wrap'
                    endif

                  else
                    if swatch_selector_size == 'sm'
                      assign list_classes = 'h-stack gap-3 wrap'
                    else
                      assign list_classes = 'h-stack gap-4 wrap'
                    endif
                endcase
              when 'variant_image'
                assign list_classes = 'h-stack gap-1 wrap'
              else
                assign list_classes = 'h-stack gap-3 wrap'
            endcase
          -%}

          <div class="variant-picker__option-values {{ list_classes }}">
            {% liquid
              assign name = form_id | append: '-option' | append: option.position

              for option_value in option.values
                case resolved_option_selector_style
                  when 'variant_image'
                    render 'option-value', type: 'thumbnail', form: form_id, option_value: option_value, param_name: name, option_position: option.position, size: swatch_selector_size, hide_if_disabled: hide_sold_out_variants, reload_page_for_combined_products: is_main_product, id_prefix: forloop.index
                  when 'swatch'
                    render 'option-value', type: 'swatch', form: form_id, option_value: option_value, param_name: name, option_position: option.position, size: swatch_selector_size, hide_if_disabled: hide_sold_out_variants, reload_page_for_combined_products: is_main_product, id_prefix: forloop.index
                  when 'block'
                    render 'option-value', type: 'block', form: form_id, option_value: option_value, param_name: name, option_position: option.position, style: block_selector_style, hide_if_disabled: hide_sold_out_variants, reload_page_for_combined_products: is_main_product, id_prefix: forloop.index
                  when 'block_swatch'
                    render 'option-value', type: 'block', form: form_id, option_value: option_value, param_name: name, option_position: option.position, style: block_selector_style, show_swatch: true, hide_if_disabled: hide_sold_out_variants, reload_page_for_combined_products: is_main_product, id_prefix: forloop.index
                endcase
              endfor
            %}
          </div>
        {%- endif -%}
      </fieldset>

      {%- if separate_options and forloop.last == false -%}
        <hr>
      {%- endif -%}
    {%- endfor -%}
  </variant-picker>
{%- endunless -%}
