<!doctype html>
<html lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    <meta name="facebook-domain-verification" content="6da9xvsflev0jx0grs4xok5k6fvd06" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- render 'social-meta-tags' -%}

    {{ content_for_header }}
  </head>

  <body style="margin:0;padding:0;">
    <main>
      {{ content_for_layout }}
    </main>
  </body>
</html>
