{%- if section.settings.background_image != blank -%}
  <style>
    .header {
      --header-show-transparent-logo: 0 !important;
      --header-transparent-header-text-color: initial;
    }
  </style>
{%- endif -%}

<div class="color-scheme color-scheme--{{ section.settings.content_color_scheme.id }}" {% if section.settings.background_image != blank %}allow-transparent-header{% endif %}>
  <div class="section-split min-h-fill">
    {%- comment -%}
    ------------------------------------------------------------------------------------
    LEFT PART (IMAGE WITH ROTATING TITLE)
    ------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="section-split__column section-split__column--image section-split__column--flushed">
      <div class="content-box h-full min-h-xs color-scheme color-scheme--{{ section.settings.image_color_scheme.id }}">
        {%- if section.settings.background_image != blank -%}
          <div class="content-box__background-media">
            {{- section.settings.background_image | image_url: width: section.settings.background_image.width | image_tag: sizes: '(max-width: 699px) 100vw, 50vw', widths: '200,300,400,600,800,1000,1200,1400,1600,1800,2000' -}}
          </div>
        {%- endif -%}

        <div class="column-span-full align-self-center">
          <marquee-text speed="0.2" direction="start-to-end" class="scrolling-content">
            <div class="scrolling-content__item" style="font-size: var(--text-h1)">
              <h1 class="h1">{{ 'customer.login.title' | t }}</h1>
            </div>
          </marquee-text>
        </div>
      </div>
    </div>

    {%- comment -%}
    ------------------------------------------------------------------------------------
    RIGHT PART (FORM)
    ------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="section-split__column align-self-center">
      <account-login class="account-forms">
        <div id="login">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {%- render block -%}
      
              {%- when 'liquid' -%}
                {%- if block.settings.liquid != blank -%}
                  <div {{ block.shopify_attributes }}>
                    {{- block.settings.liquid -}}
                  </div>
                {%- endif -%}
      
              {%- when 'fields' -%}
                <div class="v-stack gap-8 sm:gap-10" {{ block.shopify_attributes }}>
                  {%- liquid
                    capture _form_recover_capture
                      form 'recover_customer_password'
                        capture form_recover_status
                          if form.posted_successfully?
                            assign success_message = 'customer.recover_password.success_message' | t
                            render 'banner', status: 'success', content: success_message
                          endif
                        endcapture
                      endform
                    endcapture
                  -%}
                  
                  <p class="text-center">{{ 'customer.login.instructions' | t }}</p>

                  {%- form 'customer_login', class: 'form' -%}
                    <div class="fieldset">
                      {%- if form.errors -%}
                        {%- render 'banner', status: 'error', content: form.errors.messages['form'] -%}
                      {%- endif -%}
      
                      {%- if form_recover_status != blank -%}
                        {{- form_recover_status -}}
                      {%- endif -%}
      
                      {%- assign email_label = 'customer.login.email' | t -%}
                      {%- render 'input', type: 'email', name: 'customer[email]', label: email_label, autocomplete: 'email', required: true -%}
      
                      <div class="relative">
                        {%- assign password_label = 'customer.login.password' | t -%}
                        {%- render 'input', type: 'password', name: 'customer[password]', label: password_label, autocomplete: 'current-password', required: true -%}
      
                        <a href="#recover" allow-hash-change class="input-link link text-subdued text-xs">{{ 'customer.login.forgot_password' | t }}</a>
                      </div>
                    </div>
      
                    <div class="v-stack gap-3">
                      {%- assign submit_label = 'customer.login.submit' | t -%}
                      {%- render 'button', content: submit_label, type: 'submit' -%}
        
                      {%- assign register_label = 'customer.login.sign_up' | t -%}
                      {%- render 'button', content: register_label, href: routes.account_register_url, style: 'outline' -%}
                    </div>
                  {%- endform -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      
        <div id="recover" class="v-stack gap-8 sm:gap-10" hidden>
          <p class="text-center">{{ 'customer.recover_password.instructions' | t }}</p>

          {%- form 'recover_customer_password', class: 'form' -%}
            <div class="fieldset">
              {%- if form.errors -%}
                {%- render 'banner', status: 'error', content: form.errors.messages['form'] -%}
              {%- endif -%}
      
              {%- assign email_label = 'customer.recover_password.email' | t -%}
              {%- render 'input', type: 'email', name: 'email', label: email_label, autocomplete: 'email', required: true -%}
            </div>
      
            {%- unless form.posted_successfully? -%}
              <div class="v-stack gap-3">
                {%- assign submit_label = 'customer.recover_password.submit' | t -%}
                {%- render 'button', content: submit_label, type: 'submit' -%}

                <a class="button button--outline" style="--button-text-color: var(--button-background-primary)" href="#login" allow-hash-change>
                  <button-content class="button__content" rotated-text="{{ 'customer.recover_password.back_to_login' | t | escape }}">
                    {{ 'customer.recover_password.back_to_login' | t }}
                  </button-content>
                </a>
              </div>
            {%- endunless -%}
          {%- endform -%}
        </div>
      </account-login>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_customers_login.name",
  "class": "shopify-section--main-customers-login",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "image_color_scheme",
      "label": "t:sections.main_customers_login.image_color_scheme",
      "default": "scheme-4"
    },
    {
      "type": "color_scheme",
      "id": "content_color_scheme",
      "label": "t:sections.main_customers_login.content_color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:global.image.background_image",
      "info": "t:sections.main_customers_login.background_image_size_recommendation"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "fields",
      "name": "t:sections.main_customers_login.blocks.fields.name",
      "limit": 1
    },
    {
      "type": "liquid",
      "name": "t:sections.main_customers_login.blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:global.code.liquid"
        }
      ]
    }
  ]
}
{% endschema %}
